extends layout

block content
  h1= title
  if !jawbone.login
    p
      a(href="/login") login
  else
    p= jawbone.fullname
    p
      img(src=jawbone.icon width=80 height=80)
    p
      a(href="/logout") logout
